@charset "ISO-8859-1";


.margenleft-sm{
	margin-left:15px;
}

.topmargin-0 {
	margin-top:0px;
}

.topmargin-long {
	margin-top: 30px;
}
.toppadding-long{
	padding-top: 30px;
}
.topmargin-dlong {
	padding-top: 110px;
} .topmargin-dlong2 {
	padding-top: 140px;
}

.topmargin-neg {
	margin-top: -6%;
}

.botpad-1 {
	padding-bottom: 150px;
}
.botpad-2 {
	padding-bottom: 300px;
}
.navbar {
	background-color: #ffffff;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
	min-height: 100px;
}

#fonblanco {
	background: #343a40;
}

#ribbon {
	background-color: #262626;
}
#BGINSTA {
	background-color: #1a1a1a;
	margin-top: 0px;
}
#insti 
	{
	background: #ffffff;
	}

.card-border{
	border: solid 10px white;
	border-radius: 20px;
	overflow: hidden;
	transition: all ease-out 0.2s;
}
.card-border:hover{
	transform:scale(1.05);
}
.img-border{
	overflow: hidden;
	transition: all ease-out 0.2s;
}
.img-border:hover{
	transform:scale(1.05);
}
#games
	{
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(52, 58, 64,1) 63% );
	background-repeat: repeat-x;
	background-size: 75%;
	margin-top: -20px;
	
	}
/*	
#games
	{
	background: #ffffff;
	/*background: linear-gradient(to bottom, #ffffff, #c3c3c3, #8a8a8a, #565656, rgba(52, 58, 64,1)); 
	background-repeat: repeat-x;
	background-size: 75%;
	margin-top: -20px;
	} */
	 
#separator-ribbon{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-bottom: -10%;
}
#separator-ribbon .content{
	width:150%;
	height: 150px;
	margin-left: -25%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
}
#separator-2 {
	width: 100%;
	overflow:hidden;
	position: relative;
	z-index:2;
	margin-top: -3%;
}
#separator-2 .content{
	width: 110%;
	height: 100px;
	margin-left: -5%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.botmargin-lg {
	margin-bottom: 450px;
}


.botmargin-no {
	margin-bottom: 0px;
}

#inicio{
	background-size:cover;
	padding-top:90px;
	min-height:700px;
	color:#1a1a1a;
	display:flex;
}

#in
{
	background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #262626);
}

.item {
	float:left;
}

#text1 {
	padding-left: 140px;
	margin-right: 140px
}

#cont {
	background: #F5F5F5;
}

.block {
	text-align:center;
	background-color:lightgray;
}
.shadow-1 {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}
.list {
	text-align: left;
	display:inline-block;
}
